/* border box */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* border box */

/* Font */
html { font-size: 100%; }

@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}
/* Font */

.fluid-container {
  max-width: 940px;
  width: 90%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.fluid-container .row:after {
  content: " ";
  display: table;
  clear: both;
}
.fluid-container .row {
  *zoom: 1;
  margin-right: -1rem;
  margin-left: -1rem;
}

.fluid-container .row [class*="col-"] {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}

.fluid-container .row .row:last-child [class*="col-"] {
  margin-bottom: 0;
}

.fluid-container img, img.fluid {
  width: 100%;
  height: auto;
}

@media (min-width: 40rem) {
  .fluid-container .row [class*="col-"] {
    float: left;
  }
  .fluid-container .row .col-4 {
    width: 33.33%;
  }
  .fluid-container .row .col-6 {
    width: 50%;
  }
  .fluid-container .row .col-8 {
    width: 66.67%;
  }
  .fluid-container .row .col-12 {
    width: 100%;
  }
}

.content-container {
  max-width: 660px;
}